/composer.lock
/after.sh
/aliases
/package-lock.json
/node_modules/
/public/storage
.env
.DS_Store
.idea/.gitignore
.idea/bjjtrackr.iml
.idea/codeStyles/
.idea/dataSources.xml
.idea/deployment.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/laravel-plugin.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/sshConfigs.xml
.idea/vcs.xml
.idea/webServers.xml
.idea/workspace.xml
.vagrant/
public/dist/
vendor/
